/* 
:root {
    --bg-color : white;
    --color : hsl(0 , 0% , 50%);
}

.icon {
    background-color: var(--bg-color) !important;
    color: var(--color);
}

.icon:hover {
    background-color: var(--color) !important;
    color: var(--bg-color) !important;
} */